﻿<%@ Page Title="RawIngredient List" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RawIngredientList.aspx.cs" Inherits="ChocoMamboOnlineProfessional.RawIngredient.RawIngredientList1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
</asp:Content>
