﻿<%@ Page Title="Raw Ingredient Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RawIngredient.aspx.cs" Inherits="ChocoMamboOnlineProfessional.RawIngredient.RawIngredient" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
</asp:Content>
